.App {
    text-align: center;
    font-family: Arial;
}
.selected {
    background: yellow !important;
}
.options {
    padding: 8px;
    border: 3px soliid rgb(150, 207, 97);
    cursor: pointer;
    width: 100%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
    border-radius: 7px;
}
ul {
    list-style-type:none ;

}
ul li {
    margin: 5px;
}
body {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI',;
    font-size: 18px;
    background-color: teal;
}
